@font-face {
  font-family: 'LuckiestGirl';
  src: url('./fonts/LuckiestGirl.ttf');
}

body{
    font-family: Arial, sans-serif;
    margin:  0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    background-image: url("./images/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: #f0f0f0;
}
.box {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    text-align: center;
    border: 1px solid black;
    word-wrap: break-word;
    background-color: #F2449B;
    margin-bottom: 30px;
}

@keyframes flip {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.response {
    animation: flip 0.5s ease-out;
    backface-visibility: hidden;
    opacity: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    text-align: center;
    gap: 10px;
    border: 1px solid black;
    word-wrap: break-word;
    background-color: lightblue;
    position: relative;
}

.response.red{
    background-color: darkred;
}

.response.green{
    background-color: darkgreen;
}

.response.arrowup::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid indianred;
    transform: translateX(-50%);
}
.response.arrowdown::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid indianred;
    transform: translateX(-50%);
}

.text {
    color:  white;
    text-shadow: 1px 1px 2px pink;
    position: relative;

}

.small-text {
    font-size: 0.8em;
    align-self: center;
}


.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.item img {
    width: 100%;
    height: auto;
}


.item2 {
   
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.item2img {
    width: 100%;
    height: auto;
}

.icon {
    margin-top: 4px;
    margin-left: -10px;
    width: 167%;
    height: auto;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}


.tooltip {
    position: relative;
    display: white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 20%;
}

.close {
  color: ghostwhite;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#box {
    font-size: 2em;
    border: 1px solid #000;
    padding: 20px;
    background-color: #fff;
}
#display {
    font-size: 2em;
    border: 1px solid #000;
    padding: 20px;
    background-color: #fff;
}