body {
  background: #000000;
  margin: 0;
  overflow: hidden;
}
svg {
  width: 100vw;
  height: 100vh;
}
.node {
  fill: #363636;
  cursor: pointer;
  transition: fill 0.2s;
}
.node:hover {
  fill: #676767;
}
line {
  stroke: #363636;
  stroke-width: 2;

}
