  html, body {
    height: 100%;
    margin: 0;
    background: black;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }
  img {
    height: 100%;
    width: auto;
    display: block;
  }

  1F9AB {
    
  }